[2015-12-10 22:18] diasdavid opened #4 "`keys` repo"
Full information: https://github.com/ipfs/specs/blob/fix-repo/repo/README.md#keys-state
Complete Repo Spec - https://github.com/ipfs/specs/blob/fix-repo/repo/README.md

[2015-12-10 22:19] diasdavid opened #5 "IPFS Repo Feature - Implement `version`"
Full information: https://github.com/ipfs/specs/blob/fix-repo/repo/README.md#version
Complete Spec: https://github.com/ipfs/specs/blob/fix-repo/repo/README.md

[2015-12-10 22:20] diasdavid opened #6 "IPFS Repo Feature - Implement `datastore-legacy`"
Full Information: https://github.com/ipfs/specs/blob/fix-repo/repo/README.md#datastore
Complete Spec: https://github.com/ipfs/specs/blob/fix-repo/repo/README.md

[2015-12-10 22:22] diasdavid opened #7 "IPFS Repo Feature - Implement `config`"
Full information: https://github.com/ipfs/specs/blob/fix-repo/repo/README.md#config
Complete Repo Spec - https://github.com/ipfs/specs/blob/fix-repo/repo/README.md

[2015-12-10 22:22] diasdavid opened #8 "IPFS Repo Feature - Implement `logs`"
Full information: https://github.com/ipfs/specs/blob/fix-repo/repo/README.md#logs
Complete Repo Spec - https://github.com/ipfs/specs/blob/fix-repo/repo/README.md

[2015-12-10 22:25] diasdavid opened #9 "IPFS Repo Feature - Implement `locks`"
Full information: https://github.com/ipfs/specs/blob/fix-repo/repo/README.md#locks
Complete Repo Spec - https://github.com/ipfs/specs/blob/fix-repo/repo/README.md

[2015-12-11 03:08] diasdavid commented on #9
I'm thinking that it would be nice to have a `store`, that builds on top of `abstract-blob-store`, introduces features as locks, but doesn't necessarily require for every blob-store implementation to be [crafted by hand](https://github.com/ipfs/js-ipfs-repo/tree/master/src/adaptors).

This will require things like upgrading `lockfile` to support abstract-blob-store

[2015-12-11 03:22] diasdavid commented on #9
@whyrusleeping just to make sure I get this right, it is supposed for ipfs-repo to support more than one type of store at the same time? Looking at a regular ipfs repo, seems like datastore is using levelDB and the rest is just straight fs. (What I'm trying to understand is if I can have a clean interface for this things so that it doesn't get super complicated to make it work in the browser as we

[2015-12-11 04:25] diasdavid commented on #9
Ok, going to change how ipfs-repo is changed a bit, so that we support multiple types of storage mechanism depending on the type of data being stored.

I'm going to follow the diagram:
![fullsizerender](https://cloud.githubusercontent.com/assets/1211152/11735896/c7e19b90-9f7b-11e5-9262-b7bc81799be8.jpg)

With this, we can select the best datastore for each type of data, while still keeping the opt

[2015-12-11 13:23] jbenet commented on #9
Some clarity on the question about stores:

go-ipfs history:
- we started with leveldb
- we moved blocks to flat-fs
- we are in process of moving things off leveldb entirely (like pinset in dev0.4.0)
- my goal is to get rid of leveldb entirely

regardless, it is the case that there is  "one datastore", it's just split in two underneath the hood:
- https://github.com/ipfs/go-ipfs/blob/master/repo/f

[2015-12-11 13:25] jbenet commented on #9
And your diagram LGTM! (nice colors!) -- it does not mean changes on fs-repo spec or go-ipfs, right? only on how it's accessed in js-ipfs?

[2015-12-11 16:10] diasdavid commented on #9
Nice! Thank you for bringing this clarifications into the thread, I didn't know we were moving away from two data stores.

The diagram doesn't propose any change to go-ipfs, it is just a way to deal with the current multi datastore current and enable for these to be replaced by IndexedDB so that it works in the browser.

I've been using a dev0.4.0 repo to create my tests and there is indeed levelD

[2015-12-11 19:21] diasdavid commented on #9
-> locks + version with locks -> https://github.com/ipfs/js-ipfs-repo/pulls

[2015-12-11 19:31] travisperson opened #12 "Sample code for block api"
[code]

While this basically works as intended (to print out the data of the block), the variable names are confusing and probably should be switched.

[code]

[2015-12-11 19:42] diasdavid commented on #12
We are following the Node.js pattern of "err first, results last" with (err, res). Not sure if I understand why that is particularly confusing.

Btw, this js-ipfs-repo is in flux still :) We now have `locks` and `version` working following the new structured presented at https://github.com/ipfs/js-ipfs-repo/issues/9#issuecomment-163835869

[2015-12-11 19:49] diasdavid commented on #12
Got what you were saying, fixed the README :)

[2015-12-11 19:49] #12 closed

[2015-12-11 19:59] diasdavid opened #13 "Implement `datastore`"
Almost missed `blocks` as there is no reference in the Spec (https://github.com/ipfs/specs/blob/fix-repo/repo/README.md). I'm guessing is that datastore is becoming the blocks as the transition form levelDB to flatfs happens.

@whyrusleeping @jbenet can I get some details on this?

To implement the fanout factor I'm going to use a blob-store that builds on top of fs-blob-store that knows how to do

[2015-12-11 21:14] masylum commented on #9
I like the direction. :+1: @diasdavid

[2015-12-11 21:15] masylum commented on #8
In the specs it reads the following:

[2015-12-12 06:24] jbenet commented on #13
@diasdavid blocks is just the name we give to a serialized ipfs object. Raw data. You don't need it in your code necessarily.

Maybe this helps:
- a dag node is logically an object
- IPLD is the format for dag nodes, which implies serialization
- historically (from the ipfs paper) serialized objects were called blocks.
- in go-ipfs we have a blocks package that layers on top of the repo and datast

[2015-12-12 06:25] jbenet commented on #13
(Ipld and multicodec are newer than blocks so some there's more overlap than we'd have if these abstractions were created from scratch together)

[2015-12-12 10:57] jbenet commented on #13
@diasdavid does that make sense? lmk if not

[2015-12-12 11:45] jbenet commented on #9
dev0.4.0 wont be out of leveldb yet. if we push for it we wont ship it before xmas, and we should. that can come later. repo migrations have worked very well and not been very problematic so far. (caveat: we need to do some user research on this, with people building apps which compose go-ipfs)

[2015-12-12 13:38] diasdavid commented on #13
Trying to wrap my mind around what would be the lifecycle of an file when added to IPFS.

What data does datastore folder have then (currently and near future)? Blocks is making sense, but having a blocks folder and a datastore folder is not.

[2015-12-13 21:09] jbenet commented on #13
conceptually, `blocks/` is supposed to be inside `datastore/` it's just that _historically_ `datastore/` was a leveldb instance, so `blocks/` had to go outside. the fs-repo layout with leveldb in go is more historical than correct. we can do a migration to make it better. maybe we could:

- move `datastore/` to `leveldb/`
- or, move `datastore/` to `datastore/leveldb` and move `blocks/` to `datast

[2015-12-13 21:09] jbenet commented on #13
cc @whyrusleeping

[2015-12-15 04:42] diasdavid commented on #13
As talked on Sprint Meeting Dec 14, blocks will be 'datastore' and datastore with level db will be 'datastore-legacy'

[2015-12-15 04:43] diasdavid commented on #6
@jbenet please itemise what is available on the 'datastore-legacy'

[2015-12-15 05:48] diasdavid commented on #6
- [ ] We need a levelDB blob store implementation (currently there is only one for IndexDB on the browser, should be similar, but not equal)

[2015-12-15 06:00] diasdavid commented on #5
- [x] Implemented

[2015-12-15 06:00] #5 closed

[2015-12-15 06:01] diasdavid commented on #9
I've updated the README with more documentation, architecture.

locks work, it has tests and everything, closing this issue :)

[2015-12-15 06:01] #9 closed

[2015-12-15 06:03] diasdavid commented on #8
Thank you @masylum :):)

Closing this one then

[2015-12-15 06:03] #8 closed

[2015-12-15 07:52] diasdavid commented on #4
This has been done in https://github.com/ipfs/js-ipfs-repo/pull/17, however, go-ipfs Repo when it comes to keys is still not complete, this feature will become more complex when KeyChain and IPRS are finalised and implemented.

Removing the `help wanted` tab for now.

[2015-12-15 07:53] diasdavid commented on #7
done in https://github.com/ipfs/js-ipfs-repo/pull/16

[2015-12-15 07:53] #7 closed

[2015-12-15 11:28] diasdavid commented on #13
(probably going to ask the obvious) The objects stored on this datastore, are serialised versions of the protobufs, right?

Currently all the blocks have the .data extension, what is the migration plan for when we use IPLD + CBOR? Migrate and have .json objects, so we can both read from old repos and new repos at the same time?

Are we dropping protobufs soon enough that we can make the js impl on

[2015-12-15 20:04] jbenet commented on #6
Isn't there a levelup blob store? (Taking any leveldown?)
On Tue, Dec 15, 2015 at 00:48 David Dias <notifications@github.com> wrote:

[2015-12-16 09:02] jbenet commented on #6
https://github.com/maxogden/abstract-blob-store/issues/19

[2015-12-16 09:24] jbenet commented on #13
Yes

New objects are done with cbor. old objects still readable. see https://github.com/ipfs/go-ipld/tree/master/coding/pb

Turns out we will need to still have the protobuf implementation to read old objects. yeah annoying, but we'll get them on the wire from other people, or even if we get them in json,  we'll need to be able to serialize with protobuf to hash and verify.

So we support protobuf

[2015-12-16 09:25] jbenet commented on #13
that said, we could migrate the protobufs to `.pb` if useful. though the multicodec should give it

[2015-12-20 12:28] diasdavid commented on #13
With https://github.com/ipfs/js-ipfs-repo/pull/20 we have a impl capable of reading/writing blocks into the datastore following the same folder structure go-ipfs does.

[2015-12-21 06:24] daviddias opened #21 "Document on the IPFS Repo Spec, the things we store on Datastore"

[2016-01-14 02:29] vijayee commented on #13
So I started making an implementation of the go-ipfs merkledag for use in the browser as a data structure and I am trying to get a sense of how the block store was working here. Is it implemented in this project? I couldn't get a sense where this left off. I can implement it if its not because I need it to finish off the dagservice but I needs to know the assumptions. I have implemented the block,

[2016-01-14 14:32] diasdavid commented on #13
@vijayee 'block store' is now known as 'datastore', as it was in the beginning, but with the change from levelDB to flatFS, we got datastore and blocks which was confusing, to make it clear that our intention is to move everything out of levelDB we have:

datastore -> current blocks in go-ipfs
datastore.legacy -> current leftovers (DHT records for example) inside datastore in go-ipfs

[2016-04-05 00:16] diasdavid commented on #6
this is the `blocks store` which is implemented :)

[2016-04-05 00:16] #6 closed

[2016-04-11 00:29] diasdavid opened #37 "Make circle-ci happy"

[2016-07-04 16:38] dignifiedquire opened #67 "Update encodings following the changes in go-ipfs"
Ref

- https://github.com/ipfs/go-datastore/pull/39
- https://github.com/ipfs/go-datastore/pull/41
- https://github.com/ipfs/go-ipfs/pull/2903

New paths are `/block/${base-32-std-no-padding-encoded-hash}`

[2016-08-04 09:10] dignifiedquire commented on #37
https://circleci.com/gh/ipfs/js-ipfs-repo < looks pretty happy to me 😄

[2016-08-04 09:10] #37 closed

[2016-08-04 15:20] diasdavid commented on #37
❤️

[2016-08-06 18:28] diasdavid commented on #13
It seems that `blockstore` name that go-ipfs uses, grew well in our hearts. Let's make js-ipfs also call the blockstore where blocks live. (Note, we were calling it datastore, because it is its original name.) //cc @dignifiedquire

[2016-08-06 18:38] dignifiedquire commented on #13
@diasdavid lets get a proper document up for all the features, names and storage locations we need in js-ipfs-repo please.

[2016-08-07 12:43] diasdavid commented on #13
@dignifiedquire can it be part of the readme -- https://github.com/ipfs/js-ipfs-repo#background --  ? It really is following what go-ipfs does //cc @whyrusleeping

[2016-08-07 13:11] dignifiedquire commented on #13
Sure I just want to be sure to know what the end goal is when the work starts, rather than having to discover this part and that  which is still missing.

[2016-08-07 20:23] jbenet commented on #13
datastore is the thing touching the fs. get/put raw byte buffers
blockstore is the thing (on top of data store) get/put Block
On Sun, Aug 7, 2016 at 09:11 Friedel Ziegelmayer <notifications@github.com>
wrote:

[2016-08-08 12:17] diasdavid commented on #13
Correction:

datastore was the thing touching the fs through levelDB, where blocks and DHT records where stored. Today, only DHT records and the roothash of the pinset live there.

blockstore is the thing where blocks get stored into fs, through flatfs that offers get/put raw byte buffers

block service is the thing on top of blockstore that offers get/put Block semantics

[2016-08-08 12:30] jbenet commented on #13
@diasdavid not in Go. In Go, (which this issue claims to want to match) it's as I described. "Datastore" is a library touching both. That "$repo/datastore" was also used as the leveldb dir and not the flatfs one is historical.

[2016-08-08 13:25] diasdavid commented on #13
got it, it is just a matter of having too many things with the same name :)

go-datastore is the equivalent of abstract-blob-store in JS (what @jbenet mentions), these are the modules (adapters) that we use to exchange the storage backends.

IPFS Repo divides itself into several 'stores', namely: keys (not used yet), config, blocks, datastore, logs (not used anymore) and locks; see more info here:

[2016-08-09 07:24] Kubuxu commented on #13
In go-ipfs we use `mount datastore` to mount different types of datastores into different parts of datastore path, right now it is:
[code]

This passes Gets and Sets in with key starting with `/blocks/` (example `/blocks/CIQA2W4TC4TRMQRHYJYDCBPLAXG4DCO2MOKHIRLYKWDKEO2NFZVYGVQ`) the the flatFS datastore implementation, and the rest uses levelDB implementation.

Blockstore then wraps datastore, uses

[2016-08-13 22:52] jbenet commented on #13
One thing to note is that we ARE turning the entire state of an IPFS node
repo into an IPLD graph.
On Tue, Aug 9, 2016 at 03:24 Jakub Sztandera <notifications@github.com>
wrote:

[2016-08-16 10:22] dignifiedquire opened #77 "Move to a streaming interface"
IRC conversation between @diasdavid and @dignifiedquire

<dignifiedquire> we are passing instances of Block to it, to be written to disk
<dignifiedquire> but that notion itself relies on having all the data in memory, in the associated buffer
<•daviddias> right, because you need the hash of it
<dignifiedquire> so the question is can we make this a streaming interface all the way actually, and if s

[2016-08-17 11:08] dignifiedquire commented on #77
Just had a chat with @diasdavid and we plan to migrate the interfaces to streams in the following way

- repo.blockstore exposes read & write streams
- dagservice exposes read & write streams
- blockservice exposes read & write streams and `put`/`get` as helper methods

These streams will be pull-streams of `Block`s. The individual blocks will stay as they are, i.e. raw buffer + hash.

[2016-08-17 11:10] diasdavid commented on #77
"These streams.." with exception of dag-service, which is a DAGNode stream

Also, make sure to PR changes of the interface to interface-ipfs-core object and block API

[2016-09-07 19:57] diasdavid commented on #67
Done on -> https://github.com/ipfs/js-ipfs-repo/pull/76, closing this one, tracking through the PR

[2016-09-07 19:57] #67 closed

[2016-09-08 11:07] dignifiedquire opened #82 "Add test-utils"
Currently the setup and teardown of a repo with pre populated data is copy and pasted over most js-ipfs repos. To fix this add
- `repo.load('path-to-repo', cb)` which does
  - in the browser: https://github.com/ipfs/js-ipfs-repo/blob/master/test/browser.js#L24-L48
  - in node: https://github.com/ipfs/js-ipfs-repo/blob/master/test/node.js#L18-L21
- `repo.delete(cb)` which does
  - in the browser: h

[2016-09-08 15:38] diasdavid commented on #77
done in the latest release

[2016-09-08 15:38] #77 closed

[2016-09-08 15:40] diasdavid opened #83 "Document the API calls"
Leftover from the pull-streams migration PR

[2016-12-05 04:04] diasdavid commented on #83
It will be part of https://github.com/ipfs/js-ipfs/issues/615

[2016-12-05 04:04] #83 closed

[2016-12-05 05:09] diasdavid commented on #4
going to close this one, `multikey` and `keys` are still a long way

[2016-12-05 05:09] #4 closed

[2016-12-08 15:24] SidHarder commented on #21
@diasdavid :There are four keys in the go-ipfs datastore leveldb database:

key= /F5UXA3TTF4JCB5OTOYTDCBGWYFARRBGGIPJR4KKXVXBGOHK4C5MB47SOZHQM3LH6
key= /F5YGWLYSED25G5RGGECNNQKBDCCMMQ6TDYUVPLOCM4OVYF2YDZ7E5SPAZWWP4
key= /local/filesroot
key= /local/pins

The top two keys are unique to the repo and change each time init is run.  The bottom to are static.  The values for these keys seems to be encry

[2016-12-08 16:52] dignifiedquire commented on #21
@SidHarder why did you close this issue?

[2016-12-09 03:29] jbenet commented on #21
The last two are not encrypted, i believe these are _hashes_ to look into the blocks. The first two may be routing records. also likely an object hash.

[2016-12-09 09:15] Kubuxu commented on #21
We in 0.4.3 (I think) shifted from binary keys which were getting corrupted by our sanitation operations to base32 encoded keys.

[2016-12-09 17:39] diasdavid commented on #21
@Kubuxu I believe you just changed that in `blockstore`, not `datastore`, right?

[2016-12-09 17:45] Kubuxu commented on #21
no, datastore too as it was also problem with IPNS records where keys are hashes of public key.

[2016-12-09 20:13] SidHarder commented on #21
OK, I am making some progress:

The value for the key '/local/filesroot' is the hash of the root folder.  The value is binary.  The go function is core/core.go:563.

The value of this key should match the result of the command: 'ipfs files stat --hash /', (however, I have not been able to make this work yet)
Also, the value is a binary cid?

[2016-12-09 20:19] SidHarder commented on #21
@dignifiedquire I'm sorry I didn't mean to close it.

[2016-12-09 20:27] Kubuxu commented on #21
Yes, the value is binary CID, v1 probably in new version and v0 in an older ones.

[2016-12-10 16:03] SidHarder commented on #21
The  "/local/pins" key:

go-ipfs reference: pin/pin.go:450

[2016-12-12 14:23] SidHarder commented on #21
When I use the js-ipfs-cid class as below the result I get is: 2Dkx8D3WqjChhe3ZGUvQ2Jkj5LT428yvFGzv3KD6c1Pz which doesn't match the result of "ipfs files stat --hash /" which is QmUNLLsPACCz1vLxQVkXqqLX5R1X345qqfHbsf67hvA3Nn. Not sure what I'm doing wrong.

var levelup = require('levelup')
const CID = require('cids')

var ops = [{
		valueEncoding : 'binary'
	}]

var db = levelup('../../.ipfs/datas

[2016-12-15 17:25] SidHarder commented on #21
@Kubuxu Can you help me understand why when I retrieve the value for the  "/local/filesroot"  key and convert it to base58 I get this: 2Dkx8D3WqjChhe3ZGUvQ2Jkj5LT428yvFGzv3KD6c1Pz instead of QmUNLLsPACCz1vLxQVkXqqLX5R1X345qqfHbsf67hvA3Nn which is the result of "ipfs files stat --hash /".

Also, I am retrieving the key/value pair and converting it using Node.

[2016-12-15 18:05] Kubuxu commented on #21
I just dumped this key from go-ipfs:
and it is :122059948439065f29619ef41280cbb932be52c56d99c5966b65e0111239f098bbef which is QmUNLLsPACCz1vLxQVkXqqLX5R1X345qqfHbsf67hvA3Nn

[2016-12-16 11:45] Kubuxu commented on #21
Also the key you sent has quite a weird pattern at the end hex `FDFDFDFD` at the end, suggesting some corruption.

[2016-12-16 15:50] SidHarder commented on #21
@Kubuxu It must be how level up is retrieving the value.  I see if I can figure it out.  Thanks for your help.

[2016-12-20 22:52] SidHarder commented on #21
OK the code below will extract the /local/filesroot key and base58 encode it.  The extracted value matches the result of ipfs files stat --hash.

const level = require('level')
const bs58 = require('bs58')
const db = level('../../.ipfs/datastore', { valueEncoding: 'binary' })

db.get('/local/filesroot', function (err, value) {
	if(err) {
		console.log(err)
	}
	else{
		console.log(bs58.encode(value

[2016-12-21 05:59] diasdavid commented on #21
awesome progress @SidHarder :) Wanna start making the PR that adds that levelDB store and tests?

[2016-12-21 07:30] diasdavid opened #110 "Add an LRU cache for blockstore (and in the future, datastore)"

[2016-12-21 09:42] Kubuxu commented on #110
In go-ipfs we decided against it after benchmarks, the system level fs cache was enough, but it would be better if you test it for yourself as the situation might be different.

[2016-12-21 14:32] diasdavid commented on #110
Interesting, in JS might be different. Another consideration is that for 'stores' that are networked (i.e: S3), LRU will be very useful.

Thanks @Kubuxu :)

[2016-12-21 18:17] SidHarder commented on #21
@diasdavid I'll get started.

[2016-12-21 18:26] SidHarder commented on #21
@diasdavid Does it make sense to have a datastore.js module in js-ipfs-repo/src/stores?  This module could be used during the init process to add the necessary keys and values.

[2016-12-22 05:00] diasdavid commented on #21
@SidHarder absolutely. Just have in mind that it needs to be LevelDB for nodejs and indexedDB for when in the browser

[2017-01-04 20:35] diasdavid opened #112 "ipfs-repo.next()"
We will be moving out of `pull-blob-store` and just use js-datastore. js-datastore differs from blob-store on its ability to run queries.

- [x] Implement js-datastore-fs
- [x] Implement js-datastore-level-db
- [x] Implement js-datastore-indexed-db (browser)
- [x] Drop streaming interface at the repo level (not used, all the control flow is actually done in the layers above, which is more power fo

[2017-01-04 20:39] dignifiedquire commented on #112
This means we should figure out the batch interface to do multi delete and puts.

[2017-01-05 08:37] Kubuxu commented on #112
You will probably need `js-datastore-mount` for combining the fs and level-db datastores into one datastore.

[2017-01-06 15:22] diasdavid commented on #112
@Kubuxu we've support for multiple drivers already, thanks for bringing that up :)

[2017-01-10 03:54] SidHarder commented on #112
@diasdavid I finished implementing js-level-pull-blob-store and was planning to go back to work on  js-ipfs-repo/datastore.  Does it make sense for me to keep working on this in light of this issue? I would be happy to help with this effort if it makes sense.

[2017-01-11 04:07] SidHarder commented on #112
@diasdavid  Does the js-datastore spec exist somewhere, I'm not finding it.

[2017-01-11 11:46] diasdavid commented on #112
js-datastore is essentially a blob-store + a key/query API, so yes, all the work on js-level-pull-blob-store will be used, thank you for getting that done :)

The datastore work is available here: https://github.com/datastore
With a 'pre' (really old) version of what the datastore for JS is: https://github.com/jbenet/node-datastore

Going to ask @jbenet to get access to that org and get all the re

[2017-01-19 11:02] greenkeeper[bot] opened #113 "An in-range update of aegir is breaking the build 🚨"
## Version **9.3.1** of [aegir](https://github.com/dignifiedquire/aegir) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/ipfs/js-ipfs-repo/compare/greenkeeper%2Faegir-9.3.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      aegir
    </td>
  </tr>
  <tr>
    <th align=left>
      Curren

[2017-01-19 11:16] #113 closed

[2017-01-19 17:05] greenkeeper[bot] opened #114 "An in-range update of aegir is breaking the build 🚨"
## Version **9.3.2** of [aegir](https://github.com/dignifiedquire/aegir) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/ipfs/js-ipfs-repo/compare/greenkeeper%2Faegir-9.3.2">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      aegir
    </td>
  </tr>
  <tr>
    <th align=left>
      Curren

[2017-01-20 13:05] #114 closed

[2017-01-27 11:18] greenkeeper[bot] opened #115 "An in-range update of multihashes is breaking the build 🚨"
## Version **0.3.2** of [multihashes](https://github.com/multiformats/js-multihash) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/ipfs/js-ipfs-repo/compare/greenkeeper%2Fmultihashes-0.3.2">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      multihashes
    </td>
  </tr>
  <tr>
    <th a

[2017-01-27 11:38] greenkeeper[bot] opened #116 "An in-range update of aegir is breaking the build 🚨"
## Version **9.4.0** of [aegir](https://github.com/dignifiedquire/aegir) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/ipfs/js-ipfs-repo/compare/greenkeeper%2Faegir-9.4.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      aegir
    </td>
  </tr>
  <tr>
    <th align=left>
      Curren

[2017-01-29 20:44] #116 closed

[2017-01-29 20:44] #115 closed

[2017-02-09 15:14] greenkeeper[bot] opened #118 "An in-range update of multihashes is breaking the build 🚨"
## Version **0.3.3** of [multihashes](https://github.com/multiformats/js-multihash) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/ipfs/js-ipfs-repo/compare/greenkeeper%2Fmultihashes-0.3.3">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      multihashes
    </td>
  </tr>
  <tr>
    <th a

[2017-02-10 07:15] greenkeeper[bot] opened #119 "An in-range update of ipfs-block is breaking the build 🚨"
## Version **0.5.5** of [ipfs-block](https://github.com/ipfs/js-ipfs-block) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/ipfs/js-ipfs-repo/compare/greenkeeper%2Fipfs-block-0.5.5">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      ipfs-block
    </td>
  </tr>
  <tr>
    <th align=left>

[2017-02-10 09:24] #119 closed

[2017-02-10 16:35] #118 closed

[2017-02-15 08:22] diasdavid commented on #112
good news, managed to get https://github.com/diasdavid/js-datastore from @jbenet :)

[2017-02-15 09:37] dignifiedquire commented on #112
I think this would be a great starting point for testing out types in Javascript, so that we can define some nice interfaces.

[2017-02-24 04:40] greenkeeper[bot] opened #121 "An in-range update of rimraf is breaking the build 🚨"
## Version **2.6.1** of [rimraf](https://github.com/isaacs/rimraf) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/ipfs/js-ipfs-repo/compare/greenkeeper%2Frimraf-2.6.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      rimraf
    </td>
  </tr>
  <tr>
    <th align=left>
      Current Ve

[2017-03-06 11:14] diasdavid commented on #112
@dignifiedquire started experimenting with it at https://github.com/dignifiedquire/js-datastore

[2017-03-06 11:27] dignifiedquire commented on #112
TODO: Investigate level-down and level-up interfaces if there is something we can reuse

[2017-03-09 19:47] #121 closed

[2017-03-20 22:13] diasdavid commented on #21
We still need this list, @SidHarder could you PR to the README the current keys that ipfs uses to store things in the repo?

[2017-03-20 22:13] #13 closed

[2017-03-20 22:13] #112 closed

[2017-03-22 22:47] dignifiedquire opened #127 "Investigate level-js status"
The current master of https://github.com/maxogden/level.js is not up to date with the rest of the level eco system. Currently we are depending on https://github.com/timkuijsten/level.js/tree/idbunwrapper which is near complete rewrite supporting use cases like empty values for us.

We should try and see  in https://github.com/maxogden/level.js/issues/46 what it takes to finish this and get it rele

[2017-03-23 02:39] SidHarder commented on #21
@diasdavid the keys that Go IPFS stores in the Datastore are:

key= /F5UXA3TTF4JCB5OTOYTDCBGWYFARRBGGIPJR4KKXVXBGOHK4C5MB47SOZHQM3LH6
key= /F5YGWLYSED25G5RGGECNNQKBDCCMMQ6TDYUVPLOCM4OVYF2YDZ7E5SPAZWWP4
key= /local/filesroot
key= /local/pins

I'm sorry but I don't understand what you mean by PR to the README.

[2017-03-23 13:58] Kubuxu commented on #21
The first two records are:
[code]

Using https://github.com/whyrusleeping/bases

[2017-05-25 05:21] justinmchase opened #135 "I would like a s3 datastore for this"
I would like to use the js-ipfs library on my backend but I would like to swap out the repo location from filesystem to s3.

I've been digging through the code and I saw some examples of how to maybe use a different repo than the filesytem but none of them seemed to be relevant anymore. Based on digging around in the current code it looks like I would need to create a module that implemented the s

[2017-05-25 21:51] dignifiedquire commented on #135
Hey thanks for posting. It would be very nice to have an s3 backend for this. So we are definitely open to pulling in a repo into this org.

Then general idea you proposed looks about right, but there might be an easier solution. Using https://github.com/loune/s3leveldown together with https://github.com/ipfs/js-datastore-level could accomplish what you want without needing to reimplement anything

[2017-05-26 15:27] justinmchase commented on #135
Ok, I'll check that out. My understanding from looking in the code though was that level was for the browser while the fs was for the server, is that not so?

[2017-05-26 15:43] dignifiedquire commented on #135
No, in node, both level and fs are used, (level for the storage of key - value pairs that ipfs needs for operation, like pinsets etc, and fs is used for storing the actual blocks of data on disks). In the browser indexeddb is used to store all of this, but abstracted away through level.
The interfaces that datastore-level and datastore-fs provide are identical though, so you can switch in whatever

[2017-05-26 15:44] justinmchase commented on #135
Got it, thanks. I'll check it out when I get home.

On Fri, May 26, 2017 at 10:43 AM, Friedel Ziegelmayer <
notifications@github.com> wrote:

--
http://justinmchase.com

[2017-05-26 20:45] justinmchase commented on #135
It seems like the `s3leveldown` repo is out of date perhaps. Their example code out of the box doesn't work with latest version of `leveldown` and the `datastore-level` repo seems to be compatible with `level-js` while s3leveldown expects `leveldown`.

It seems like just implementing `datastore-s3` may be the least complex and most direct way to get the functionality.

Also, if both `options.fs` a

[2017-06-04 17:21] diasdavid commented on #21
@SidHarder Would you like to wrap this task and add the findings to the Readme?

[2017-06-04 17:25] diasdavid commented on #135
@justinmchase just merged your PR #136, thanks for that.

It depends, DynamoDB is a powerhouse and our level usage is simply to store ephemeral stuff like DHT records and something more persistent such as the pinset root hash. I would argue that storing all of these in S3 would be advantageous, but putting a LRU cache in front of the datastore one would give you the most bang for the buck, otherwi

[2017-06-04 17:38] diasdavid commented on #135
Before releasing, I double checked and test js-ipfs against js-ipfs-repo master and I started getting errors when using the daemon through the HTTP-API

On tests:
[code]

On regular spawn daemon
[code]

https://github.com/ipfs/js-ipfs-repo/pull/136 doesn't look like it was the cause of the problem, it might be a dependency that got updated and it is causing this.

Investigating why this happens no

[2017-06-04 17:39] justinmchase commented on #135
I didn't try that, I'll give it a shot locally and let you know what happens.

[2017-06-04 17:44] diasdavid commented on #135
Got it! Now the new scheme is adding `.data` to all the files in the root level:

![image](https://cloud.githubusercontent.com/assets/1211152/26763982/d39ad390-4955-11e7-8f5f-3ad14a8d9dfb.png)

And so the detection is failing.

[2017-06-04 17:50] justinmchase commented on #135
I get the same but interestingly, it seems to work fine that way with a newly initialized repo. Something in my PR caused the file names to change?

[2017-06-04 17:57] diasdavid commented on #135
got a fix: https://github.com/ipfs/js-ipfs-repo/pull/137

[2017-06-04 18:05] diasdavid commented on #135
[code]

Thanks @justinmchase ! :)

[2017-06-04 18:25] dignifiedquire commented on #135
@diasdavid I don't believe that fix will be enough, please revert these changes for now, also this should have been a minor version bump as this is a very breaking change in the options interface https://github.com/ipfs/js-ipfs-repo/pull/138

[2017-06-05 02:49] justinmchase commented on #135
Hi @dignifiedquire, sorry about this. What steps should I take to test it fully? I agree with the version bump comment also.

[2017-06-05 10:30] diasdavid commented on #135
@justinmchase yeah, just unpublished it. I had a false positive for no breaking changes as explained here: https://github.com/ipfs/js-ipfs-repo/pull/138#issuecomment-306155164

[2017-06-16 19:38] diasdavid commented on #135
Any update on the S3 Datastore, @justinmchase ?

[2017-06-17 01:12] justinmchase commented on #135
Oh yeah I fixed my fork. Should I open a new PR?

[2017-06-17 10:07] diasdavid commented on #135
yes please :)

Do note that the S3 DataStore should not be a default, but just something that is pluggable

[2017-06-28 10:59] diasdavid opened #139 "RFC - Cleansing the 🐉🐉🐉"
It has become extremely complicated to understand what is happening inside this module, the similar names (**store everything), the fact that the API docs were removed in favor of aegir docs but those are not getting published and how things are being initialized.

The API that we need is only:

[code]

The `lock` is a special case just to be compatible with go. In Node.js should continue to use f

[2017-06-28 11:09] diasdavid commented on #139
@kumavis this will require an update on how the 'blockstore' for parity works. But it should be a straightforward update and a simplification of what already exists.

[2017-06-28 11:24] pgte commented on #139
@diasdavid what about `repo.config` and `repo.version`?

[2017-06-28 11:34] diasdavid commented on #139
from IRC, you made a good point that it would be cumbersome to always be encoding/decoding those values. It makes sense to have those convenient methods.

There is 3 'convinience' methods in total:
- repo.config
- repo.version
- repo.apiAddr

[2017-06-28 11:43] VictorBjelkholm commented on #139
Feels like this should be a endeavour to either finish the API docs migration we were working on, or revert it as you mentioned. Applies to a lot of modules, not just `js-ipfs-repo` though.

[2017-06-28 13:47] diasdavid commented on #139
@VictorBjelkholm there is a whole endeavor around improving our build and release tools -- https://github.com/ipfs/aegir/issues/113 -- which we need to get back to. However, this should not block the ipfs-repo improvements from moving forward.

[2017-06-28 22:41] dignifiedquire commented on #139
This seems to be step backwards rather than an improvement. I took special care to make datastores as composable and reusable as possible :/

[2017-06-28 22:42] dignifiedquire commented on #139
Just run the docs generator for markdown and copy paste if this is so urgent

[2017-06-28 22:44] dignifiedquire commented on #139
I don't think it's a good idea to allow for arbitrary writes at the root of the repo, these should be very limited

[2017-06-28 22:44] dignifiedquire commented on #139
You missed `repo.exists()` which is a very useful and needed method

[2017-06-29 07:06] diasdavid commented on #139
I understand I value that, flexibility and composability are key. I'm not a particular fan of how things are set up internally, it is extremely confusing right now all the Xdatastore nestness (which can reach 4 levels deep, that is a huge 🐲) with little docs to say how the blocks folder is structured.

Right now, it is a complicated to distinguish between the border of what the blocks folder has t

[2017-06-29 08:46] pgte commented on #139
@diasdavid do you think we need `store.blocks.putMany(blocks, cb)`?

[2017-06-29 09:32] diasdavid commented on #139
It's useful, see https://github.com/ipfs/js-ipfs-block-service/blob/master/src/index.js#L74-L80

We could have a loop there, but the usefulness of doing putMany through bitswap is that then bitswap can only select to provide on the DHT one of the blocks, avoiding to cause a ton of  queries at the same time. putMany here makes it convinient.

[2017-07-01 09:37] diasdavid commented on #127
@pgte you are very close to the Level ecosystem. Any comment here?

[2017-07-01 09:38] diasdavid commented on #82
What if we make this a separate module `ipfs-repo-utils`? @pgte wanna take a look at this?

[2017-07-01 09:38] diasdavid commented on #21
//cc @pgte

[2017-07-01 09:42] diasdavid commented on #82
It might be the case that having them here is also fine. I'm just considering adding more code to the bundles. Probably having a `ipfs-repo/src/utils` would do fine :)

[2017-07-03 12:04] pgte commented on #127
I'm less familiar with the level-js than the node side of it..
Anyway, I've been implementing a level down store myself, and the abstract level down test suite is impressive, so maintaining such a thing is not something to be taken light-heartedly, specially if this is touching the (de)serialising / (de)encoding parts.. :)
Which leads me to asking:
What problem are we trying to prevent / solve her

[2017-07-03 12:11] pgte commented on #82
I think this is badly needed in tests, but I also think we shouldn't add to any browser bundle.
My opinion is that this should be a separate require like a separate repo or, more simply `require('ipfs-repo/utils')`.

I tend to like this last one better (ETOOMANYREPOS)..

[2017-07-03 12:33] dignifiedquire commented on #127
The issue is that the original level.js is not usable for us which is why we are currently using a fork, which brings with it all the issues of depending on a fork which is not maintained nor officially released.

Main issues with level.js master were the iterators not being usable as far as I remember and some other thing that are fixed in the fork

[2017-07-03 12:34] dignifiedquire commented on #82
agree with @pgte not another repo please, just publish it along side in its own file such that browser bundlers don't pick it up unless you explicitly require it

[2017-07-03 19:18] diasdavid commented on #82
@pgte let's do it then :D to the IPFS Repo release train! 🚂

[2017-07-03 19:19] diasdavid commented on #127
@dignifiedquire is there a PR to the main one?

[2017-07-03 19:23] dignifiedquire commented on #127
@diasdavid no just this comment:https://github.com/maxogden/level.js/issues/46#issuecomment-182144244

[2017-07-04 18:23] #139 closed

[2017-07-10 14:05] #110 closed

[2017-07-10 14:30] diasdavid opened #141 "Unnecessary (leftover) options on default configs"
IIUC https://github.com/ipfs/js-ipfs-repo/blob/master/src/default-options.js#L11-L19 and https://github.com/ipfs/js-ipfs-repo/blob/master/src/default-options-browser.js#L11-L23 are not necessary anymore, do you confirm @pgte?

[2017-07-10 14:32] #141 closed

[2017-07-10 14:32] diasdavid commented on #141
nvm. I was seeing it wrong :)

[2017-07-12 08:00] diasdavid commented on #135
Hi @justinmchase! Now that all the ipfs-repo has been refactored (thank you for the CR btw!), do you think you can look back into that s3 datastore?

[2017-07-17 13:58] justinmchase commented on #135
I've been working on it, one issue I'm encountering is that the Key class in `interface-datastore` is making some assumptions about keys being paths. I was trying to do it on windows at first also but there is quite a bit of work to fix it up for that.

I'm trying to work with it as is without any sweeping changes but right now my thinking would be, if there were to be sweeping changes, that the k

[2017-09-12 00:15] ralphtheninja commented on #127
@dignifiedquire o/ I have begun working on this.

[2017-09-12 00:18] ralphtheninja commented on #127
Quick and dirty roadmap:

* move `level.js` to `level` org, me, @juliangruber and @vweevers are active there now, I have asked @maxogden to move it and he's cool with it
* spend some time on fixing most obvious problems to get it up to par with `abstract-leveldown`
* replace the `idb-wrapper`
* get snapshots working

I haven't looked at the fork just yet, just focusing on the big brush for now :)

[2017-09-12 06:51] dignifiedquire commented on #127
@ralphtheninja great to hear, the fork works very well and is also a good deal faster than the official version if I remember correctly. I also think the other reason to use the fork were issues with the iterators, but I don't remember the details atm.

[2017-09-12 06:57] juliangruber commented on #127
I'm happy with what @ralphtheninja suggests!

[2017-09-12 12:36] ralphtheninja commented on #127
Cool. The thing with iterators right now _I think_ is that it doesn't terminate properly, it keeps going on under the hood but ignores calling back with data.

Actually, maybe it's easier to take the fork and start working on _that_ to get it up to the latest `abstract-leveldown`.

[2017-10-05 09:08] Expyron opened #144 "Broken on Windows since interface-datastore use of os-specific path separators"
In commit [d7ec65a](https://github.com/ipfs/interface-datastore/commit/d7ec65a), interface-datastore was changed to use os-specific path separators.

However, js-ipfs-repo is still hardcoded to use a slash ([here](https://github.com/ipfs/js-ipfs-repo/blob/master/src/blockstore.js#L20), maybe other places). This throws an error [here](https://github.com/ipfs/interface-datastore/blob/master/src/key.

[2017-10-11 16:31] spaceywolfi opened #145 "Does not work in Firefox?"
OpenError: The operation failed for reasons unrelated to the database itself and not covered by any other error code.

it works fine on chrome
can anyone reproduce this error?
i used the basic start code:
[code]

[2017-10-18 17:57] diasdavid commented on #145
@spaceywolfi mind submitting a test with this case? We run tests in Firefox and Chrome on CI, it should get caught.

[2017-10-18 18:00] diasdavid commented on #144
Ref: https://github.com/ipfs/js-ipfs/issues/1017

[2017-10-18 19:17] spaceywolfi commented on #145
@diasdavid  sure emm, sorry for being a newb, how can i run a test with this case?

[2017-10-18 19:50] spaceywolfi commented on #145
i am using the quasar framework, i just set up a simple project to demonstrate the problem.

[code]
in chrome i get the message 'repo ready'
in firefox i get the error that i mentioned before

[2017-10-19 09:06] Expyron commented on #144
After some more checking, while this is easy to fix for the blockstore by simply normalizing the path, there is also the same issue in the datastore.

A datastore created on Windows will contain keys with backslashes. This means datastores created on Linux cannot be read on Windows, and conversely. Interop tests are failing on Windows because the test repo has (obviously) been created with slashes

[2017-10-31 02:37] richardschneider commented on #144
The datastore **should** be os-agnostic.  All keys should use the same path separator of `/`.  Only file storage implementations should worry about the os styled path conventions.

@pvh has raised https://github.com/ipfs/interface-datastore/pull/11 which is a step in the correct direction.

[2017-11-02 11:40] richardschneider commented on #144
I'm getting the following error when running the **tests** on windows

[code]

Looks like levelup needs some TLC for windows.

[2017-11-04 09:30] diasdavid commented on #145
@spaceywolfi did you happen to open your happen in incognito:

[2017-11-04 09:31] diasdavid commented on #144
Let's see how it behaves with the new datastores! => Track here: https://github.com/ipfs/js-ipfs-repo/pull/146/

[2017-11-04 09:31] #144 closed

[2017-11-04 20:12] richardschneider commented on #127
Why are we  dependent on `level-js` and `level-down`?  This should all be handled by [datastore-level](https://github.com/ipfs/js-datastore-level).

Also, `datastore-level` uses `"level-js": "^2.2.4"` **NOT** `"level-js": "timkuijsten/level.js#idbunwrapper"`

[2017-11-04 23:17] ralphtheninja commented on #127
Unfortunately I don't have time for this atm because life. That said, I haven't forgotten about this. Maybe @vweevers can take this up or maybe I'll jump on it later on, but right now it's not possible :cry:

[2017-11-08 22:58] richardschneider opened #150 "Jenkins windows error"
@VictorBjelkholm wrote:

[2017-11-09 01:57] richardschneider commented on #150
@VictorBjelkholm Are you sure you are building from `master`?

It;s working on circle, travis and appveyor.  See https://github.com/ipfs/js-ipfs-repo/pull/151

[2017-11-09 02:48] VictorBjelkholm commented on #150
@richardschneider I used commit `9b8c3ba3544281ca84f611e3eecd08fce3e9f3dd` which seems to be the latest commit on `master` https://github.com/ipfs/js-ipfs-repo/commits/master

[2017-11-09 03:20] richardschneider commented on #150
@VictorBjelkholm Is there a PR or branch that I can view?

[2017-11-10 03:01] richardschneider opened #152 "Version up breaks many tests in other packages"
Other packages that use a IPFS repo in a test fixture, for example [js-ipfs-bitswap](https://github.com/ipfs/js-ipfs-bitswap), now break with the [commit](https://github.com/ipfs/js-ipfs-repo/commit/27553a3d51ef5b2c98a21efb67e5fc12c4a8deb1) and generate the following error

[code]

The issue is the version number.  The repo in a test fixture has a version number of 5.  But this new code requires v

[2017-11-10 06:32] richardschneider commented on #152
I have go-ipfs version 0.4.7 installed on my machine,  When I run js-ipfs, via `node src/cli/bin.js` I get the version mismatch error.

So this means that js-ipfs is **NOT** interop with go-ipfs!

[2017-11-10 09:17] richardschneider commented on #152
Perhaps the version number check can just be removed.

[2017-11-10 09:53] diasdavid commented on #152
Answered here https://github.com/ipfs/js-ipfs-bitswap/pull/154#issuecomment-343416012

This needs to be solved by writing the spec and implementing compliance tests. Until then, we are in this weird situation.

Just to make sure that no wrong claims are broadcasted. **js-ipfs does interop with go-ipfs**, in fact:

- js-ipfs can use a go-ipfs generated repo just fine
- js-ipfs can talk with a go-ip

[2017-11-11 15:25] vweevers commented on #127
I'm currently working on `memdown` and `abstract-leveldown` (to fix weirdness surrounding serialization, which also helps to clean up `level.js`). After that I can put some time into `level.js` - but only on weekends atm, so it will take a while.

Regarding:

The fork will by default keep reading to fulfill the snapshot guarantee dictated by `abstract-leveldown`. If users want better performance,

[2017-11-12 06:52] richardschneider commented on #150
@VictorBjelkholm any progress on this?

[2017-11-12 09:18] richardschneider commented on #152
So the current fix is to edit the `version` file and change the "5" to "6",

[2017-11-12 09:39] diasdavid commented on #152
Yes. I believe we have fixed them all now

[2017-11-12 09:40] #152 closed

[2017-11-13 05:42] VictorBjelkholm commented on #150
Still no luck, was thinking the path was too long but seems OK. You can see the build output here: http://165.227.71.94:8090/blue/organizations/jenkins/js-ipfs-repo/detail/master/7/pipeline

Same commit is passing on https://ci.appveyor.com/project/diasdavid/js-ipfs-repo/build/37/job/5s4754tua3a41wcm

Jobs run via https://wiki.jenkins.io/display/JENKINS/Swarm+Plugin and via jenkins worker (a java

[2017-11-13 05:49] richardschneider commented on #150
Just on my laptop

[2017-11-13 06:19] richardschneider commented on #150
FYI, here's the  build on my laptop [js-ipfs-repo.build.txt](https://github.com/ipfs/js-ipfs-repo/files/1465769/js-ipfs-repo.build.txt)

[2017-11-14 18:50] VictorBjelkholm commented on #150
I've now tested this on a Windows 10 Home VM as well, and getting the same error (without involving jenkins at all).

Could you try to install dependencies from scratch? Maybe you have some module linked still whose changes hasn't been deployed?

[2017-11-14 19:21] richardschneider commented on #150
Attached is the log from a scratch build.  Could you send me yours?

[scratch-build.txt](https://github.com/ipfs/js-ipfs-repo/files/1472227/scratch-build.txt)

[2017-11-20 09:52] VictorBjelkholm commented on #150
Let's continue here: https://github.com/ipfs/js-ipfs-repo/pull/153

[2017-11-20 09:52] #150 closed

[2017-12-05 09:27] diasdavid commented on #145
Closing as there was no follow up

[2017-12-05 09:27] #145 closed

[2017-12-05 13:44] spaceywolfi commented on #145
@diasdavid sorry for not responding earlier :/
i changed my approach and i am not longer using quasar, i do not know if this problem still exists so thank you for closing it.

[2017-12-21 05:32] jonahweissman opened #157 "Possible mistake in documentation in README.md"
In README.md, it says:

I found this really counter-intuitive. I'm guessing that this is a mistake, and `open` unlocks while `close` locks. If not, maybe there could be a brief explanation?

[2018-01-25 21:57] diasdavid commented on #157
I see the argument for renaming it to `lock, unlock`. Would you like to submit a PR with improved docs and the new interface?

[2018-01-25 22:02] jonahweissman commented on #157
Sure! I'm on it

[2018-02-10 15:02] DiThi commented on #145
I have this problem as well. Firefox 58 and 59b6. Not in incognito. Tried in several profiles and enabling the flag "dom.indexedDB.experimental" just in case.

[2018-04-03 21:18] jonahweissman commented on #157
Upon further reflection, I decided that `open` and `close` were pretty appropriate names, as long as they are explained a bit. I made a PR that attempts to clarify.

[2018-04-04 17:56] jacobheun commented on #135
I have an initial implementation of this ready for feedback https://github.com/jacobheun/js-datastore-s3. All methods from the Spec are functioning.

Right now it's expecting an S3 instance to be passed to it via the storageBackendOptions.  The other thought was to have it take the options and create the instance internally.  The thought behind having that as a passed in value was to keep the S3 i

[2018-04-04 22:10] jacobheun commented on #135
I just fixed a bug and added an examples folder. It currently only contains the [ipfs 101 example](https://github.com/ipfs/js-ipfs/tree/master/examples/ipfs-101) with a repo fully backed by s3 (not that it makes sense to do each layer on s3). I've run this against my own s3 bucket as well.

[2018-04-05 15:03] #157 closed

[2018-04-05 15:03] diasdavid commented on #157
Thanks @jonahweissman :)

[2018-04-06 05:10] #135 closed

[2018-04-06 14:46] jacobheun opened #161 "Allow the repo locker to be passed by configuration"
Currently the only available lockers are fs and memory. It's currently not possible to set a locker via configuration. Providing support for this would allow new datastores to provide their own locking mechanism.

Perhaps updating the Repo initialization to include a `locker` property would be a good approach:
[code]
Then when setting `this._locker` internally, it could check for either  this.opti

[2018-04-06 16:02] diasdavid commented on #135
@jacobheun where is that example?

[2018-04-06 16:30] jacobheun commented on #135
@diasdavid  it's in the repo, https://github.com/ipfs/js-datastore-s3/tree/master/examples/full-s3-repo

[2018-04-09 04:46] diasdavid commented on #161
Thanks for bringing this up. I agree there is a good case to make the lock file optional and even avoiding using fs-ext to lock on fs (which causes problems to electron). From my side:

- 👍 on making the lock optional and configurable.
- 👍 on abandoning fs-ext.

[2018-04-09 04:51] diasdavid commented on #135
@jacobheun I'm thinking of having an example in js-ipfs repo https://github.com/ipfs/js-ipfs/tree/master/examples that shows users how to plug different repo configurations to js-ipfs

[2018-04-09 15:06] jacobheun commented on #135
@diasdavid I think that would be very helpful for people who are interested in playing around more in depth with custom repo configuration

[2018-04-09 15:11] diasdavid commented on #135
@jacobheun would you mind tackling that example?

[2018-04-09 23:26] jacobheun commented on #135
@diasdavid opened a new PR for the example ipfs/js-ipfs#1303

[2018-04-11 12:21] maxkerp opened #163 "Error: required Datastore.Spec entry missing form config file"
Hi there :)

### TL;DR
`js-ipfs-repo` seems to miss some entries in the `config` file.

### What
I'm working with `orbit-db-cli`  and trying to examine the `ipfs repo` with `go-ipfs` results in this error message. `js-ipfs` doesn't care about it and works fine.

I'd liked to be able to examine the `repo` with `go-ipfs` (since it has a bit more features ), but adding the default `config` file to it

[2018-04-23 08:47] #161 closed

[2018-05-06 15:59] diasdavid opened #165 "Issue introduced on 0.20.1"
Ref https://github.com/ipfs/js-ipfs/pull/1338#issuecomment-386889632

[2018-05-08 17:56] hugomrdias commented on #165
0.20.1 only works with https://github.com/ipfs/js-ipfs/pull/1335

[2018-05-09 13:54] jacobheun opened #167 "IPFS Repo fails on node 10.x"
connects to ipfs/js-ipfs#1347

The version of Level.js being used is failing compilation. This needs to get fixed to resolve node 10 failures in IPFS. Ideally we should move the level.js and leveldown dependencies into the `datastore-level` codebase to isolate those concerns there.

[2018-05-25 10:55] lidel opened #169 "Supporting New File System API for WebExtensions"
FYSA a new WebExtension File System API is being proposed/designed as a part of  https://github.com/mozilla/libdweb/issues/8#issuecomment-391950777
It would enable js-ipfs running within browser extension context to have access to a better storage backend in Firefox.

My initial understanding is that we could create a special version of `IPFSRepo - Default Browser` stack for WebExtension contexts

[2018-05-26 12:44] vweevers commented on #127
Hey everybody! Good news: [v3.0.0-rc1](https://github.com/Level/level.js/releases/tag/v3.0.0-rc1) is out and can be installed with `npm i level-js@next`.

[2018-05-28 05:16] diasdavid opened #170 "Add Lead Maintainer"
As per ipfs/pm#600, please list yourself as the Lead Maintainer

[2018-05-28 12:35] jacobheun commented on #170
@diasdavid https://github.com/ipfs/js-ipfs-repo/pull/166 is open, the review got reverted because the commit lint was failing (I didnt have commit signing on), so I amended it. I can merge that once it's approved.

[2018-05-28 13:31] diasdavid commented on #170
thank you! merged

[2018-05-28 13:31] #170 closed

[2018-05-29 15:19] #167 closed

[2018-05-29 16:30] jacobheun commented on #165
https://github.com/ipfs/js-ipfs/pull/1358 should fix this, via the update in ipfs-repo 0.22.0

[2018-06-04 08:30] diasdavid commented on #163
@maxkerp is this still an issue with the latest ipfs-repo?

[2018-06-04 09:28] maxkerp commented on #163
I created a new temporary jsipfs repo under `/tmp` and it still seems to be the case.

[code]
I created the repo with `/tmp $ IPFS_PATH=./ipfs/ jsipfs init`

[2018-07-21 20:43] vasco-santos commented on #163
Basically `go-ipfs` requires the existence of  `datastore_spec` file [here](https://github.com/ipfs/go-ipfs/blob/07feeec9c4f40f59efb57d7e16739a35b4c42d5b/repo/fsrepo/fsrepo.go#L403).

`js-ipfs-repo` does not create this file and that's why there are problems with the repo interoperability in both [interop#26](https://github.com/ipfs/interop/pull/26) and [interop#28](https://github.com/ipfs/interop

[2018-08-09 14:33] #163 closed

[2018-08-16 01:01] lidel commented on #169
Status update:

- **WebExtension FileSystem API** landed as one of libdweb experiments: https://github.com/mozilla/libdweb/issues/8#issuecomment-407213423
  - provides access to an OS file system, but restricted to a user chosen directory
  - more details including code samples and API itself:
    https://github.com/mozilla/libdweb#filesystem-api
- **Virtual FileSystem API** can be built on top of

[2018-10-25 06:10] alanshaw opened #180 "repo.stat reads entire of blockstore into memory"
In IPFS repo.stat takes about 5s per call for me. I found that that the entire blockstore is read into memory every time this function is called to get the count and size:

https://github.com/ipfs/js-ipfs-repo/blob/3611043d81f3d5ff2ed36ed1efe3f4889561493e/src/index.js#L301-L317

This needs to be streamed and/or calculated once, cached, and kept up to date.

[2018-12-05 11:33] mcollina opened #183 "usage of write-file-atomic"
Writing file atomically is quite important for lock files and things things like that, however it should hardly be needed for all files operation. In the datastore-fs implementation, all files are written using the [`write-file-atomic`](https://github.com/npm/write-file-atomic) module. As you can see in its source code, it does quite a few file system operations.

See https://github.com/ipfs/js-da

[2018-12-09 14:51] daviddias commented on #183
Agreed. I believe this write-file-atomic got in for all operations because users were reporting doing multiple sequential ipfs.add and ipfs.get and although the first one succeeded, the second one failed because the files didn't have the chance to get flushed to disk.

An alternative to this that will also improve perf is to have a warm in memory cache of all the recent writes so that nextTick rea

[2018-12-10 18:32] achingbrain commented on #183
That's interesting - it'd be good to see if this is still a problem with the latest codebase without `write-file-atomic`.  Are there some old issues somewhere about this?

[2019-01-22 15:39] alanshaw opened #188 "proper-lockfile errors after sleep"
1. Start an IPFS daemon
1. Put your computer to sleep for 30s
1. 💥
[code]

[2019-01-22 15:51] achingbrain commented on #188
Silly question, but since everything is immutable, why do we need to lock the repo?  There would need to be some inter-process guarding around things like the MFS root hash or the pin sets to prevent simultaneous writes, but for the most part shouldn't it all be append-only?

[2019-01-22 16:06] hugomrdias commented on #188
brainstorming this with @satazor (proper-lockfile creator)

[2019-01-28 12:47] jacobheun commented on #188
We had previously looked at making locking optional, but there were concerns about doing that. I think a primary concern would be protecting against multi-tenancy issues, especially if we end up with different versions of go/js. I haven't done much exploration into this though.

@hugomrdias any update on this? Do we need the staleness check? We previously didn't have it and it was only added with

[2019-01-28 12:52] satazor commented on #188
I had a discussion last week. The issue is that proper-lockfile fails if the time it took to update the lock was greater than the threshold. Now, this doesn't necessarly mean that the lock was compromised but, at the moment, proper-lockfile throws. We have discussed in doing an extra check to prevent it from throwing. That will solve the sleep scenario as well as the one in which the event loop is

[2019-01-28 14:55] alanshaw commented on #188
@satazor do you think you'll be able to implement a fix soon? This issue is a big problem for anyone using a JS IPFS daemon with IPFS companion.

[2019-01-28 15:22] hugomrdias commented on #188
@satazor will not be able to take this, i will implement the extra check in proper-lockfile

[2019-03-01 14:30] nick commented on #188
I'm seeing the sleep issue too. Not sure how to help, though... if someone with more context could provide some pointers I'd be happy to take a look.

[2019-03-06 20:18] hugomrdias commented on #188
can you please validate that this PR https://github.com/moxystudio/node-proper-lockfile/pull/74 fixes the problem pls ?

[2019-03-07 11:54] alanshaw commented on #188
@hugomrdias would you mind submitting a PR here so I can do the same for js-ipfs?

[2019-03-07 15:41] hugomrdias commented on #188
i will once i release proper-lockfile
can link it in js-ipfs and validate the fix? i pushed some more commits to the branch just now

[2019-03-13 12:13] jacobheun commented on #188
Should be resolve in `v0.26.3`

[2019-03-13 12:13] #188 closed

[2019-03-28 18:24] AuHau opened #194 "lock-memory - won't fail if lock already exists"
While working on the repo migration tool, I have noticed that the implementation of in-memory lock in `lock-memory.js` behaves in bit weird way as it will acquire lock even if there is already lock in place.
It exposes function `locked()`, yet I have not found it used anywhere. But even then I think the correct behavior of any locking functionality should be to fail when there is a lock already pr

[2019-03-29 11:37] jacobheun commented on #194
I think this is a bug, it should really fail if it already exists. While the use case of that actually being the case should be low, it should still protect against acquiring an already existing lock.

[2019-05-10 22:41] AuHau opened #197 "Config.get(...) should raise interface-datastore.errors.notFound"
I am not 100% sure about this, but while working on integrating the `js-ipfs-repo-migrations` I stumbled on a case where I have expected to `ipfs-repo` throw an `interface-datastore.errors.notFound` error when `config.get()` won't find the required key.

I now that `interface-datastore.errors` are related to datastores and this is only somehow related to it as `ipfs-repo.config` creates an abstrac

[2019-08-07 08:22] AuHau commented on #194
Solved by #200

[2019-08-07 08:22] #194 closed

[2019-08-07 08:26] AuHau commented on #197
Solved by #201 just not by throwing `interface-datastore.errors.notFound` but by throwing custom error from repo level.

[2019-08-07 08:26] #197 closed

[2019-08-16 02:16] tppk opened #204 "as"
https://github.com/ipfs/js-ipfs-repo/blob/79fb031ef2f8557c8638772ca771d5e47e74336a/src/index.js#L281

[2019-08-16 08:33] jacobheun commented on #204
Closing this as no context was provided. Feel free to re open if you have a question or more details about an issue.

[2019-08-16 08:33] #204 closed

[2019-08-16 08:58] tppk opened #205 "a"
https://github.com/ipfs/js-ipfs-repo/blob/79fb031ef2f8557c8638772ca771d5e47e74336a/src/index.js#L281

[2019-08-16 09:12] jacobheun commented on #205
Can you provide more context than pointing to a line of code? It's not clear what you're trying to ask/reference. Your previous issue #204 also doesn't provide any context, nor a helpful title for the issue.

[2019-09-09 10:04] daviddias commented on #183
From IRC

<img width="907" alt="image" src="https://user-images.githubusercontent.com/1211152/64522261-460a8280-d302-11e9-831a-1451e97ab551.png">
<img width="848" alt="image" src="https://user-images.githubusercontent.com/1211152/64522275-4efb5400-d302-11e9-9e87-487c6aea2e5f.png">

[2019-09-09 10:06] daviddias commented on #183
We need:
- Have a repo config/policy that lets the user specify (with sane defaults)
  - To guarantee that every write is flushed
  - To have an in memory cache for faster confirmation times/reads
- Agree on what are the sane defaults (might depend by runtime and OS, e.g. difference between two OS or OS vs Browser)

[2019-10-01 01:24] vaultec81 opened #210 "Proper guide on how to create a custom IPFS repo."
Hello, I have been trying to create a custom repo that uses webdav as backend. From what it appears, all tests that I can run successfully pass. I have followed similar code design to that of [js-datastore-s3](https://github.com/ipfs/js-datastore-s3). But regardless of what I do IPFS will not startup. I even used datastore-fs for root in storagebackends but to no success.
I would like to know abou

[2019-10-01 10:28] jacobheun commented on #210
@vaultec81 this may be an issue with callback vs async support. Is your datastore using async/await similar to the latest datastore s3? If so, I presume you are using ipfs <= 0.37.x?

If so, if you can upgrade, ipfs 0.38 was released yesterday and it now properly supports the latest async datastore usage internally, so that may fix your issue. If you cannot upgrade ipfs yet, you may need to callba

[2019-10-01 14:18] vaultec81 commented on #210
@jacobheun The design is similar to s3 async/await. The version of ipfs is 0.38.0. after doing some debugging it appears that IPFS will not initialize a repo.

[2019-10-01 15:22] jacobheun commented on #210
Do you have code up anywhere, or error logs?

[2019-10-01 22:21] vaultec81 commented on #210
https://github.com/vaultec81/js-datastore-webdav
To produce the results
[code]
[code]
Doing some debugging, it appears IPFS does not attempt to write any initialization/configuration files, but it does attempt to read `/config` and `/version`

[2019-10-02 10:45] jacobheun commented on #210
@vaultec81 I was mistaken, IPFS 0.38 is still using the callback version of ipfs-repo (0.26.x), so your datastore won't work as it's async. IPFS 0.39, https://github.com/ipfs/js-ipfs/issues/2489, will include the async repo update. It's already in master, but there aren't any release candidates yet. You could either attempt to leverage the IPFS master branch, or callbackify your api until that rel

[2020-03-04 08:39] achingbrain commented on #210
js-IPFS@0.41.0 contains the async/await upgrade - @vaultec81 do you still see the same problem with this version?

[2020-03-05 05:06] #210 closed

[2020-03-09 20:05] SignpostMarv opened #223 "query re: browser CacheStorage datastore"
so there's a quirk in chrome (and probably other chromium-based browsers?) where removing an idb/clearing site data doesn't release all the storage spaced used up by the idb.

on the other hand, [CacheStorage.delete](https://developer.mozilla.org/en-US/docs/Web/API/CacheStorage/delete) seems to release as soon as the promise has resolved.

as I'm not overly familiar with how the idb implementation

[2020-04-20 21:07] isaacJChen opened #226 "invalid block when creating new repo"
I am getting this error when creating a new repo.

`(node:1824) UnhandledPromiseRejectionWarning: Error: invalid block`

This is how I am constructing the repo I then pass it into IPFS-js then the error happens
`repo = new ipfsRepo('localIPFSDirectory');`

Upon further investigation. I noticed that `isBlock` method is looking for ipld block
![image](https://user-images.githubusercontent.com/267524

[2020-04-29 19:22] achingbrain commented on #226
Please hold off on using `ipfs-repo@2.x.x` with `ipfs` until https://github.com/ipfs/js-ipfs/pull/2932 is merged & released.

The `ipfs-block` module was renamed `ipld-block` but because they export classes the modules are not compatible.  The PR above will bring `ipld-block` compatibility to `ipfs` and then you'll be able to upgrade to `ipfs-repo@2.x.x`.

[2020-06-11 04:50] aileenscott-uleska opened #235 "Some security findings"
Hi folks,

I hope you don’t mind, we were testing out our security automation tool and ran it against your project.  A few issues came out that you may want to check out - we weren’t sure how to submit a PDF here, so we uploaded it to https://source-security.co.uk/970471b3-d9d5-4fd1-afaf-8737ae397c2d/ if you wanna check it out.

Any issues or feedback, just let us know.

Aileen

[2020-06-18 14:47] achingbrain commented on #226
I'm closing because all the relevant modules were released, please reopen if you are still seeing this problem.

[2020-06-18 14:47] #226 closed

[2020-06-25 13:23] achingbrain commented on #180
This was fixed by #199 Phew!

[2020-06-25 13:23] #180 closed

[2020-06-25 13:25] achingbrain commented on #127
This issue is quite old - level-js is healthy & well maintained, I think it can be closed now.

[2020-06-25 13:25] #127 closed

[2020-06-25 13:38] achingbrain commented on #223
If you wrote a [interface-datastore](https://github.com/ipfs/interface-datastore) compatible `datastore-cachestorage` module (just extend [the adapter](https://github.com/ipfs/interface-datastore#adapter)), you could plug it in to the repo config in a way similar to [datastore-s3](https://github.com/ipfs/js-datastore-s3/blob/master/src/s3-repo.js#L52-L66):

[code]

I've no idea how suitable CacheS

[2020-06-25 13:50] achingbrain commented on #82
Closing because the approach now is to not have dependencies of IPFS depend on IPFS, so most of them don't have repos in their tests.

[2020-06-25 13:50] #82 closed

[2020-06-25 20:03] SignpostMarv commented on #223
I would be thinking using it only for actual file data, since typically that's the biggest contributor to "idb doesn't free up storage space right away" being an actual issue.

[2020-12-17 16:22] jacobheun commented on #223
Closing this as it's not an issue with js-ipfs-repo.

[2020-12-17 16:22] #223 closed

[2021-03-31 11:38] hugomrdias opened #294 "fix aegir browser cov"
some repos from js ipfs hang when generating cov

https://github.com/istanbuljs/v8-to-istanbul/pull/139
https://github.com/hugomrdias/playwright-test/pull/168

[2021-04-08 12:01] valmack opened #299 "Init check fails but version does exist (migrating 9 -> 10)"
Hello!

I'm trying to migrate a repo from v9 to v10. It uses s3 as a backend for ipfs-repo.

### Before migration attempt
The repo clearly has **version and config** files.
[code]
<img width="152" alt="image" src="https://user-images.githubusercontent.com/8445610/114022614-f5416f80-983f-11eb-86b1-d6a63011739b.png">

### During migration attempt
The migration is failing and shows the following logs

[2021-04-08 20:09] valmack commented on #299
For context we have updated our dependencies from

[code]

to

[code]

[2021-04-13 16:17] achingbrain commented on #299
Could you check the config and see if the root datastore is being sharded?  I think what may be happening here is when a repo is first initted the basic structure is created - the blocks dir, version file, etc - without any sharding.  Sharding is applied per-datastore so doesn't need to be applied to the root.

When the repo-migrations tool tries to read the version number it applies whatever data

[2021-04-14 11:39] valmack commented on #299
Hey @achingbrain thanks for looking into this. We are creating the repo like so

[code]

Current config (pre-migration of course) is this
[code]

So my guess is that this **bug** _is_ affecting us.

[2021-04-16 17:33] achingbrain commented on #299
Have you managed to perform the migration?  It should be as straightforward as using the (updated) [create-s3-repo.js](https://github.com/ipfs/js-datastore-s3/blob/master/examples/full-s3-repo/create-s3-repo.js) file from `datastore-s3` - it's been moved to the examples folder so you'll need to copy it into your project and ensure you have a version of `ipfs-repo` in your deps that matches the ver

[2021-04-19 16:55] valmack commented on #299
@achingbrain thanks for merging this fix. I'll be testing it within the next couple days as we copy over the create repo code and let you know how it goes.

[2021-04-20 05:12] BigLep commented on #294
@hugomrdias : what are the next steps here?  Was any investigation done?

[2021-04-20 10:17] hugomrdias commented on #294
this is already fixed in aegir, it can be closed

[2021-04-20 10:17] #294 closed

[2021-05-10 14:32] lidel commented on #299
@valmack feel free to reopen if still an issue in  the latest release.

[2021-05-10 14:32] #299 closed

[2021-07-04 07:10] Jan877 opened #323 "Service Already Present."
By mistake, I removed Pinata from Settings|IPFS.
I tried to redownload it, but I got the message "Service Already Present".
I can't redownload Pinata, nothing happens.

<img width="960" alt="Service Already Present" src="https://user-images.githubusercontent.com/44270690/124376346-e46d9200-dca6-11eb-8caa-765808511076.png">

[2021-07-04 08:21] achingbrain commented on #323
I think you've opened this issue on the wrong repo.  Your problem is likely something to do with Pinata, [go-ipfs](https://github.com/ipfs/go-ipfs) or [ipfs-webui](https://github.com/ipfs/ipfs-webui).

[2021-07-04 08:21] #323 closed

[2021-09-04 14:20] onichandame opened #334 "[bug] wrong dependency declaration"
### Problem

Example:

In a [source file](https://github.com/ipfs/js-ipfs-repo/blob/a00ae495ea9a636de6369201d4f7b5787055c36a/src/idstore.js#L5) it requires `it-drain`, but in the [package.json](https://github.com/ipfs/js-ipfs-repo/blob/a00ae495ea9a636de6369201d4f7b5787055c36a/package.json#L62) it is declared as a devDependency, which results in a missing package error.

The same problem exists for

[2021-09-15 15:40] achingbrain commented on #334
Thanks for pointing this out - if you've identified a fix, please open a PR 😁

[2021-09-16 03:03] onichandame commented on #334
It can be fixed in 2 ways at least. move them to `dependencies` section, or copy them to `peerDependencies` section. Deciding which way is better requires the knowledge of whether they should be required by the apps that use this lib.

[code]

[2021-09-24 14:56] BigLep commented on #334
Per verbal with @achingbrain , please move this to ``dependencies``.

[2021-09-25 03:53] onichandame commented on #334
The master branch already fixed this. `it-drain` has been moved to `dependencies` section and the other 2 have been removed entirely.

[2021-09-25 03:53] #334 closed

[2022-11-13 12:22] marcus-pousette opened #428 "EventEmitter memory leak"
Hi!

I am using [js-ipfsd-ctl](https://github.com/ipfs/js-ipfsd-ctl) in a testing suite, which is depending on this project, which in turn depends on ```mortice``` for RW control. During testing I got this message `EventEmitter memory leak detected. 11 listeners added`  I found that this was due to that ```cluster.on('on', message)``` was never cleanup correctly when closing.

Here is the diff tha